Import Libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

Read Raw Data

In [2]:
raw = pd.read_csv('TexasTurbine.csv')

In [4]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Time stamp                     8760 non-null   object
 1   System power generated | (kW)  8760 non-null   float64
 2   Wind speed | (m/s)             8760 non-null   float64
 3   Wind direction | (deg)         8760 non-null   int64
 4   Pressure | (atm)               8760 non-null   float64
 5   Air temperature | ('C)         8760 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 410.8+ KB

In [5]:
raw.describe()

       System power generated | (kW)  ...  Air temperature | ('C)
count                    8760.000000  ...             8760.000000
mean                      964.467934  ...               22.147298
std                       878.558112  ...                4.855232
min                         0.000000  ...                3.263000
25%                       215.951500  ...               19.463000
50%                       693.968500  ...               22.763000
75%                      1562.287500  ...               26.063000
max                      3004.010000  ...               32.963000

[8 rows x 5 columns]

In [10]:
selected_features = raw[["System power generated | (kW)", "Wind speed | (m/s)", "Wind direction | (deg)", "Pressure | (atm)", "Air temperature | ('C)"]]

            Time stamp  ...  Air temperature | ('C)
0      Jan 1, 12:00 am  ...                  18.263
1      Jan 1, 01:00 am  ...                  18.363
2      Jan 1, 02:00 am  ...                  18.663
3      Jan 1, 03:00 am  ...                  18.763
4      Jan 1, 04:00 am  ...                  18.963
...                ...  ...                     ...
8755  Dec 31, 07:00 pm  ...                  19.663
8756  Dec 31, 08:00 pm  ...                  19.063
8757  Dec 31, 09:00 pm  ...                  18.463
8758  Dec 31, 10:00 pm  ...                  18.063
8759  Dec 31, 11:00 pm  ...                  18.163

[8760 rows x 6 columns]

In [12]:
selected_features.shape

(8760, 5)

Scale Data

In [11]:
#Scaling data between 0 and 1
scaler = MinMaxScaler()
scaler.fit(selected_features)
ts_scaled = scaler.transform(selected_features)

In [15]:
ts_scaled = pd.DataFrame(ts_scaled)
ts_scaled.describe()

                 0            1            2            3            4
count  8760.000000  8760.000000  8760.000000  8760.000000  8760.000000
mean      0.321060     0.369808     0.407267     0.446389     0.635835
std       0.292462     0.159921     0.235219     0.133313     0.163476
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.071888     0.254892     0.275000     0.360311     0.545455
50%       0.231014     0.367993     0.375000     0.424567     0.656566
75%       0.520067     0.483082     0.469444     0.513326     0.767677
max       1.000000     1.000000     1.000000     1.000000     1.000000

Display scaled result

In [16]:
inv_scaled = pd.DataFrame(scaler.inverse_transform(ts_scaled))

In [17]:
inv_scaled

            0      1      2         3       4
0     1766.64  9.926  128.0  1.000480  18.263
1     1433.83  9.273  135.0  0.999790  18.363
2     1167.23  8.660  142.0  0.999592  18.663
3     1524.59  9.461  148.0  0.998309  18.763
4     1384.28  9.184  150.0  0.998507  18.963
...       ...    ...    ...       ...     ...
8755  1234.70  8.848  129.0  0.998604  19.663
8756  1105.37  8.502  118.0  1.000090  19.063
8757  1405.71  9.224  117.0  0.998408  18.463
8758  1221.36  8.799  116.0  0.998013  18.063
8759  1676.77  9.748  121.0  1.000380  18.163

[8760 rows x 5 columns]